@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

$nav-text-color: #DDDDDD;

  body {
    font-family: 'Rubik', arial !important;
  }
  
  #nav {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #333333;
  }

  #logo a {
    text-decoration: none;
  }

  #logo a > h1{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 4rem;
    font-style: normal;
  }
  
  #logo a > h6 { 
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    position: absolute;
    top: 4rem;
    left: 4rem;
    color: #DDDDDD;
    font-size: small;
  }

  .h-text {
    color: #17AD49;
  }

  .r-text {
    color: $nav-text-color;
  }
  
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #nav ul li, .settings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
  }

  #nav ul li a, .settings a {
    display: inline-block;
    color: $nav-text-color;
    text-align: center;
    margin: 0.5rem 1rem;
    padding: 1rem 0;
    text-decoration: none;
  }

  .menu {
    margin-left: 5rem;
    align-items: center;
  }
  
  .horizontal {
    display: flex;
    height: 100%;
  }

  .dropdown {
    margin-top: 0.75rem;
  }

  .logo {
    will-change: filter;
    transition: filter 300ms;
  }

  .logo.vue:hover, #nav ul li a:hover {
    filter: drop-shadow(1rem 0 3rem #42b883);
  }
  
  .fa-caret-down, .fa-magnifying-glass, .fa-bell{
    cursor: pointer;
  }

 .fa-bell {
    color: #919599
  }

  .fa-caret-down {
    color: $nav-text-color;
  }

  .right-nav {
    flex: 3;
    justify-content: center;
    align-items: center;
  }

  .profile {
    flex: 0.5;
    justify-content: space-evenly;
    align-items: center;
  }

  .search-field {
    flex: 0.5;
  }

  .search-input {
    color: #919599;
  }

  .v-field__input {
    text-align: center;
  }

  .v-field__outline {
    color: #919599;
  }

  .v-input {
    max-width: 200px !important;
  }

  
  .fa-download, .fa-calendar {
    color: #17AD49;
}
  